* {
    box-sizing: border-box;
    margin: 0;
}

section {
    height: 100vh;
    background-color: rgb(237, 237, 237);
}

.logo {
    width: 100px;
}

.logo-div {
    text-align: center;
    padding-top: 20px;
}

.landing-container {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #e51837;
}

p {
    font-size: 22px;
}

.sea {
    margin-top: 180px;
}

form {
    margin-top: 50px;
}

.box {
    padding: 17px 13px;
    width: 300px;
    background-color: #ffffff;
    border: none;
}

.button {
    padding: 15px 17px;
    width: 100px;
    background-color: #e51837;
    color: white;
    font-size: 17px;
    border: none;
    margin-left: -4px;
}

input:active,
input:focus,
input:focus-visible {
    outline: none;
}